{% import "macros/comps.twig" as comp %}
		<div class="after-mobile-convert-tab">
			<h3>Products</h3>
			<a href="#" class="hide-on-web">
				<i class="fa fa-filter"></i>
				Refine By</a>
		</div>
		<div class="flex-container justify-content-flex-start">
			{% for product in products %}
				<div class="product-view-box">
			{{comp.productCard(product)}}
					{# <a href="/product/{{product.id}}">
						<div class="product-image">
							<img src="image/product/{{product.id}}" alt="">
						</div>
						<div class="product-title-description">
							<h4>{{product.name}}</h4>
							<p>{{product.description}}</p>
							<div class="product-price">
								<p>{{product.mrp}}
									{{site.currency}}</p>
								<p>{{product.dmrp}}
									{{site.currency}}</p>
							</div>
						</div>
					</a>
					<div class="add-cart-and-boy-now">
						<div class="product-buy">
							<a href="javascript:void(0)" onclick="cart.add({{product.id}})">
								<i class="fa fa-cart-plus"></i>Add to Cart</a>
							<a href="/cart/add/{{product.id}}">Buy Now</a>
						</div>
						<div class="product-detail-btn">
							<a href="/product/{{product.id}}">More</a>
						</div>
					</div> #}
				</div>
			{% endfor %}

		</div>
